@font-face {
    font-family:'Indie Flower';
    font-style: normal;
    font-weight: 500;
    src: local('Indie Flower'), local('IndieFlower'), url(http://fonts.gstatic.com/s/indieflower/v7/10JVD_humAd5zP2yrFqw6hampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/indieflower/v7/10JVD_humAd5zP2yrFqw6qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
body, html {
    margin:0;
    padding:0;
}
#btns-display {
    position:relative;
    display:inline-block;
    height:40px;
    width:100%;
    float:left;
    border-bottom:1px solid black;
    z-index:10;
}
canvas {
    position:relative;
    display:inline-block;
    width:100%;
}
#delete {
  position: absolute;
  display: block;
  margin: 0 0 0 -25px;
  left: 50%;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  float:left;
}

/*
#wrapper{
    margin: 0 auto;
    width: 960px;
    border: 1px solid #999;
    padding: 5px;
    overflow: hidden;
}
#content{
    float:left;
}
#canvas{
    width:800px;
    height:450px;
    overflow:hidden;
    float:left;
    border:1px solid #000000;
}
#canvas-drop-area{
    display:none;
    position: absolute;
    top:14px;
    width:800px;
    height:450px;
    background:transparent;
}

#canvas-drop-area.active{
    display:block;
    border: 1px solid red;
}

#image-list{
    margin: 0px;
    padding: 0px;
    float:right;
    width:150px;
}
#image-list li{
    list-style: none;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px dashed #000;
    cursor:move;
}
.draggable-image{
    width: 150px;
    max-height: 175px;
    float:left;
}


html, body 
        {
            width:100%;
            height:100%;
            margin:0;
            overflow:hidden

        }
        
#parent {
   margin-left: 100px;
   margin-top:20px;
   overflow:auto;
   height:700px;
   width: auto;
   
}

#button{
 position: absolute;
    right: 670px;   
}
*/
